* {
  box-sizing: border-box; }

/*insert custom css below*/

body {
  background-color: #a6a6a6;
  font-family: arial;
  border: 5px groove #666666;
  padding: 20 px;
  width: 275 px;

}

div{
  border: 2px groove #808080;
  padding: 20 px;
  width: 275 px;
}
