* {
  box-sizing: border-box; }

/*insert custom css below*/

body {
  background-color: #a6a6a6;
  font-family: arial;
  border: 5px groove #666666;
  padding: 20 px;
  width: 275 px;

}

div{
  border: 2px groove #808080;
  padding: 20 px;
  width: 275 px;
  margin:10 px, 40 px, 10 px, 100 px;
}

h2{
  font-family: Georgia, Times, serif;
  font-size: 90%;
  
}

a{
  color: #ff00ff;
  text-decoration: none;
}

a:visited{
  color: black;
}

a:hover{
  text-decoration: underline;
}

a.read-more{
  color: #99ff66;
}
